/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
*.log
.env
/public/css
/public/js
/public/fonts
public/mix-manifest.json
/nbproject
composer.lock
package-lock.json
